*{
    padding: 0;
    margin: 0;
    margin-left: 3%;
    margin-right: 3vw;
    box-sizing: border-box;
    margin-bottom: 4vw;
}

html{
background-color: whitesmoke                                                   ;
}

Header{
    margin-top: 0px;
}

body{
    height: auto;
    width: auto;
    border: 1px snow;
    margin-top: 5% ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.65);
    background-image: url("/image/es.jpg");
    font-size: x-large;
}

nav{
     height: 100%;
}

a{
    text-align: right;
}

nav ul li{
    text-decoration: none;
    margin-bottom: 0;
    padding: 2px;
    padding-right: 0;
    padding-left: 3%;
    background-color: #eccca1;
    border-radius: 4px;
    text-align: right;
    margin-left: 2px;
    margin-right: auto;
    box-shadow:9px 6px 5px -3px rgba(0,0,0,0.65) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: italic;
    list-style-type: none;
    float: left;
}

.photo{
    float: right;
    margin: 10%;
    border-radius: 10px
}

main{
    margin-top: 14%;
    text-align: left;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: start;
}

h5{
    font-style: italic;
}

h6{
    font-family: monospace;
}

button{
    margin: auto;
    border-width: 3px;
    padding: 3px;
    border-color: rgb(31, 31, 78);
    border-radius: 10%;
    border-color: rgb(95, 96, 184);
    color: rgb(88, 90, 83);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eccca1;
    
}
button:hover{
    transition-duration: 0.1s;
    background-color: #cfc8c8;
}
button:active{
    background-color: rgb(160, 203, 240);
}

li:hover{
    background-color: rgb(240, 216, 172);
}
footer{
    text-align: right;
    font-size: xx-small;
    color: rgb(66, 2, 23);
    font-style: bold;
    font-weight: bold;
    font-family: 'roboto';
    text-decoration: underline;
}

@media screen and (max-width: 800px){
*{
    margin: auto;

}
.photo{
    margin-left: 28%;
    margin-top: 3em;
    float: none;
    margin-bottom: 0;
    width: 40vw;
}
a{
    font-size: x-large;
    padding-right: 15px;
}

nav{
    margin-left: 28%;
}

main{
    font-size: xx-large;
    object-position: top;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
}
h6{
    margin-top: 3%;
    margin-bottom: 4%;
}
button{
    margin-top: 0.5%;
    font-size: x-large;
}
footer{
    font-size: large;
}
}